h1 {
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.gtkonline_heading {
    background-color: #24a59f;
}
.gtkonline_heading h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 30pt;
}
body {
    margin: 0;
}
.gtkonline_explanation {
    background-color: #5aee2d;
}
.gtkonline_explanation img {
    float: right;
}
#chromelogo {
    margin: 20px;
}